.app-container {
  background: rgb(41, 40, 78);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin : 0 -8px;
}

.box {
  position: absolute;
  background-color: rgb(62, 62, 109);
  margin: 10px;
  width: 200px;
  height: 360px;
  /* height: 800px; */

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 800;
}

img {
  width: 200px;
  height: 360px;
}

.text {
  width: 180px;
  height: 50px;
  
  color: white;
  font-size: 12px;
  font-weight: 700;
  
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.overview {
  position: relative;
  margin: 10px;
  width: 180px;
  height: 360px;
  padding: 0 10px;
  
  color: white;
  font-size: 11px;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;

  display: flex;
  justify-content: center;
  text-align: flex-start;
  flex-direction: column;
  z-index: 900;
}

.header {
  background-color: rgb(19, 28, 41);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left : 100px;

  margin : -8px -8px 0 -8px
}

.header_ul {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
.header_text{
  text-decoration: none;
  font-weight: bold;
}


.ad_banner {
  width: 100vw;
  height: 100%;
  margin-left: -8px;
}